<h1>New Topic</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for topics:</p>
    <ul>
      <li>Topics containing offensive language will be censored</li>
      <li>Repeat topics will be removed</li>
      <li>Multiple censored topics will result in a ban</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { topic: @topic } %>
  </div>
</div>
