<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to post.title, topic_post_path(post.topic, post) %>
    </h4>
    <small>
      <%= time_ago_in_words(post.created_at) %> ago.
    </small>
    <br>
    <small>
      Submitted by <%= post.user.name %>
    </small>
    <br>
    <small>
      <%= post.comments.count %> Comments
    </small>
  </div>
</div>
