<div class="jumbotron">
  <h1>Linkit</h1>
  <p>A resource for sharing links with your friends!</p>
  <p>
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Feature one</h2>
    <p>Feature one description text</p>
  </div>
  <div class="col-md-4">
    <h2>Feature two</h2>
    <p>Feature two description text</p>
  </div>
  <div class="col-md-4">
    <h2>Feature three</h2>
    <p>Feature three description text</p>
  </div>
</div>
