<div class="jumbotron landing">
  <h1 class="linkit">Linkit</h1>
  <p>A resource for sharing links with your friends!</p>
  <p>
    <%= link_to "Sign In", new_session_path %> or
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row landing">
  <div class="home col-md-4">
    <h2>Create</h2>
    <p>Start a new thread of content by creating a new topic of discussion</p>
  </div>
  <div class="home center-card col-md-4">
    <h2>Post</h2>
    <p>Add posts to any discussion topic, or comment on other user's posts</p>
  </div>
  <div class="home col-md-4">
    <h2>Rate</h2>
    <p>Upvote or downvote content posted by other Linkit Users on any topic</p>
  </div>
</div>
