<div class="col-md-8">
  <h1>Edit Post</h1>

  <div class="row topics">
      <p>Posting rules:</p>
      <ul>
        <li>Posts containing offensive language will be censored</li>
        <li>Repeat posts will be removed</li>
        <li>Multiple censored posts will result in a ban</li>
      </ul>
      <br>
      <%= render partial: 'form', locals: { topic: @post.topic, post: @post } %>
  </div>
</div>
