/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #dbe0e5;
}

.nav {
  border: 0px;
  margin-bottom: 20px;
  width: 100%!important;
}

.user-info {
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
}

.jumbotron {
  background: #ffff!important;
  margin-top: 100px;
}

.sign-out {
  margin-left: 5px;
  margin-top: 10px;
}

.name {
  margin-left: 10px;
  margin-top: 10px;
}

h1 {
  padding-bottom: 20px;
}

.btn-success, .btn-danger {
  margin-bottom: 20px;
}

.submitted {
  font-size: 15px;
}

.media, .topics {
  background: #ffff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.home {
  background: #ffff;
  border-radius: 5px;
  width: 30%;
}

.center-card {
  margin-left: 5%;
  margin-right:5%;
}

@media (max-width: 991px) {
  .home {
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 90%;
  }

}
